.header {
  background-color: var(--background);
  border-bottom: 1px solid var(--border);
  padding-block: 1.25rem;

  > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media (min-width: 400px) {
      flex-direction: row;
    }
  }

  .route-list {
    display: flex;
    gap: 1rem;
  }
}
